In [1]:
import pandas as pd
import matplotlib.pyplot as plt

import sys
import os

root_dir = os.path.abspath("..")
sys.path.append(root_dir)

In [2]:
from mpce_social_grp import data_8R
df_sg=pd.DataFrame(data_8R)
df_sg.head()

,name,Scheduled_Tribe,Scheduled_Caste,Other_Backward_Class,Others,All
0,Andhra_Pradesh,3772,4565.0,4824,5550.0,4870
1,Arunachal_Pradesh,5517,5444.0,4399,4040.0,5276
2,Assam,3289,3387.0,3404,3523.0,3432
3,Bihar,2927,3058.0,3479,3691.0,3384
4,Chhattisgarh,2258,2347.0,2665,3187.0,2466